.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;

  &-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;

    &_logo {
      margin-right: 2rem;
    }

    &_logo img {
      width: 62.56px;
      height: 16.02px;
    }

    &_container {
      display: flex;
    }
  }

  &-sign {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  &-menu {
    display: none;
    position: relative;
  }

  &-menu_container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    flex-direction: column;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 216px;
    border-radius: 5px;
    background: var(--color-footer);
    padding: 2rem;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

    &-links {
      &-sign {
        display: none;
      }
    }
  }
}

.gpt3__navbar {
  &-links_container p,
  &-sign p {
    color: #fff;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 1rem;
    line-height: 25px;
    text-transform: capitalize;
  }

  &-sign button,
  &-menu_container-links-sign button {
    padding: 0.5rem 1rem;
    background: #ff4820;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    margin-left: 1rem;
    color: #fff;
  }

  &-menu_container p {
    margin: 1rem 0;
  }

  &-menu svg {
    margin-left: 2rem;
    cursor: pointer;
  }
}

// Smaller Laptops
@media screen and (max-width: 1050px) {
  .gpt3__navbar {
    &-links_container {
      display: none;
    }

    &-menu {
      display: flex;
    }
  }
}

//Tabs
@media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
}

//Mobile Devices
@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;

    &-sign {
      display: none;
    }

    &-menu_container {
      top: 20px;

      &-links-sign {
        display: block;
      }
    }
  }
}
