.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
  }

  &__links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    &--logo {
      margin-right: 2rem;

      img {
        width: 62.56px;
        height: 16.02px;
      }
    }

    &--container {
      display: flex;
      justify-content: space-around;
    }
  }

  &__sign {
    display: flex;
    align-items: center;
  }

  &--menu {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    display: none;
    position: relative;

    svg {
      cursor: pointer;
    }
  }
}

.navbar__links--container p,
.navbar__sign p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-style: 18px;
  margin: 0 1rem;
  line-height: 25px;
  cursor: pointer;
}

.navbar__sign button,
.navbar__menu--container button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  background: #ff4820;
  border-radius: 5px;
  cursor: pointer;
}
