.gpt3__footer {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);

  &-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;

    h1 {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 62px;
      line-height: 75px;
      text-align: center;
      letter-spacing: -0.04em;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    padding: 1rem;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;

    p {
      font-family: var(--font-family);
      font-size: 18px;
      line-height: 21px;

      color: #ffffff;
    }
  }
  //gpt3__footer-links_div
  &-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;

    &_div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h4 {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        margin-bottom: 1rem;
      }

      p {
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 14px;
        margin: 0.5rem 0;
        cursor: pointer;
      }
    }

    div {
      width: 250px;
      margin: 1rem;
    }

    &_logo {
      display: flex;
      flex-direction: column;

      img {
        width: 118px;
        height: 30px;
        margin-bottom: 1rem;
      }

      p {
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
      }
    }
  }

  &-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;

    p {
      font-family: var(--font-family);
      font-size: 12px;
      line-height: 14px;
      font-feature-settings: "liga" off;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 850px) {
  .gpt3__footer {
    &-heading {
      h1 {
        font-size: 44px;
        line-height: 50px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .gpt3__footer {
    &-heading {
      h1 {
        font-size: 34px;
        line-height: 42px;
      }
    }

    &-links {
      div {
        margin-bottom: 1rem 0;
      }
    }

    &-btn {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .gpt3__footer-heading {
    h1 {
      font-size: 27px;
      line-height: 38px;
    }
  }
}
